@use "../../../style/base";

.beneficios-container {
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: .5rem;
      padding: .5rem .75rem;
      border-radius: .5rem;
      font-size: 1.175rem;
      min-height: 54px;
      background-color: base.$green-gray-100;
      border: 1px solid base.$yellow-600;
    }
  }
}