html {
  color: #474747;
  background-color: #EFF1E9;

  main {
    margin-top: 5rem;

    section {
      margin: 0 15%;
    }

    .section-terapia-nutricional {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-right: 20%;

        h1 {
          font-size: 2.5rem;
          font-weight: 600;
        }

        p {
          font-size: 1.25rem;
          font-weight: 400;
          line-height: normal;
          text-align: justify;
        }
      }
    }

    h1 {
      font-weight: 600;
    }
  }
}